:root {
  --bg-color: #f5f3f4;;
  --text-color: #242624;
  --board-bg-color: #ffffff;
  --boarder-color: #555555;
  --system-ui: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--system-ui);
  background: var(--bg-color);
  color: var(--text-color);
}

h1 {
  font-size: 5rem;
  font-weight: 700;
  padding: 16px;
}

.board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  width: 500px;
  height: 500px;
}

.cell {
  background: var(--board-bg-color);
  border: 1px solid var(--boarder-color);
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}